* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #699cfc;
  font-family: sans-serif;
}

.load-button {
  background-color: #202020;
  color: white;
  padding: 15px;
  margin: 10px 0px;
  border-radius: 20px;
  border: 0px;
  font-weight: 600;
  transition: 0.5s;
}

.load-button:hover {
  background-color: #699cfc;
  border: 2px solid #202020;
}

.search-button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #699cfc;
  transition: 0.5s;
}

.search-button:hover {
  background-color: #202020;
}

.select-box {
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.search-image {
  height: 20px;
  width: 20px;
}

.search-box {
  width: 50%;
}

.logo-image {
  height: 50px;
}

.navbar {
  background-color: #ffff4d;
  border-radius: 20px;
}

.not-found {
  font-weight: 600;
  font-size: 2rem;
}

@media only screen and (max-width: 768px) {
  .logo-image {
    height: 25px;
  }

  .search-box {
    width: 70%;
  }
}
